<p>Here are your host details-<br/>
    Name of host: <b><%=newData.host_name%></b><br/>
    Phone: <b><%=newData.host_phone%></b><br/>
    Email: <b><%=newData.host_email%></b><br/>
    Check In Time: <b><%=newData.check_in_time%></b><br/>
    Check Out Time: <b><%=newData.check_out_time%></b><br/>
    Address visited: xyz office
</p>